/* hey yo! */
:root {
    --color-code-green: #b5f4a5;
    --color-code-yellow: #ffe484;
    --color-code-purple: #d9a9ff;
    --color-code-red: #ff8383;
    --color-code-blue: #93ddfd;
    --color-code-white: #fff;
}

html {
    font-size: 14px;
}

@media (min-width: 420px) {
    html {
        font-size: 16px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: Horizon Rounded;
    font-weight: 200;
    src: url(/fonts/HorizonRounded.otf) format("opentype");
}

body {
    -webkit-font-smoothing: antialiased;
}

h5.toc-title {
    font-family: Horizon Rounded;
    font-size: 18px !important;
}
ul.toc-root {
    border-left: 2px solid rgba(32, 178, 170, 0.25);
    padding-left: 14px;
    margin-left: 11px;
}

.pagination-nav {
    display: flex;
}
.pagination-nav__item {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    max-width:50%
}

.pagination-nav__item--next {
    text-align:right
}

.pagination-nav__item + .pagination-nav__item {
    margin-left: 1rem;
}

.pagination-nav__link {
    border-radius: .4rem;
    border: 1px solid #dadde1;
    display: block;
    flex-grow: 1;
    padding: .75rem;
    color: rgba(96, 103, 112, 0.9);
}

.pagination-nav__link:hover {
    border-color: grey;
    text-decoration:none;
    color: black;
}

.pagination-nav__label {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    word-break:break-word;
}

.pagination-nav__label, .pagination-nav__sublabel {
    line-height: 1.25;
}

.pagination-nav__sublabel {
    font-size: .875rem;
    color: rgba(96, 103, 112, 0.49);
    font-weight: 500;
    margin-bottom:.25rem
}

.toc-title {
    padding-top: 10px;
    font-weight: 600;
}

/* Home */
.hero {
    background: linear-gradient(123.19deg, #266488 3.98%, #258ECB 94.36%);
}
.home-logo {
    width: 140px;
}
@media only screen and (min-width: 768px) {
    .home-logo {
        width: 230px;
    }
}
@media only screen and (min-width: 1024px) {
    .home-logo {
        width: 280px;
    }
}
