/*** fix anchors with static/fixed header  ***/
:target {
    @apply pt-28;
    @apply -mt-28;
    /*display: inline-block;*/
}

/*** Markdown styles ***/
.markdown code {
    background-color: #f7fafc;
    @apply px-1;
    @apply py-0.5;
    @apply rounded-sm;
}

.markdown code::before {
    content: ""!important;
}
.markdown code::after {
    content: ""!important;
}

.markdown h1 code,
.markdown h2 code,
.markdown h3 code,
.markdown h4 code,
.markdown h5 code,
.markdown h6 code {
   margin-left: 0.35rem;
}

h1.title {
    @apply mb-2 !important;
}
p.introduction {
    @apply mt-1 !important;
    @apply pb-4 !important;
}

/*** Note block styles ***/
.note {
    @apply border-l-4;
    @apply py-2;
}
.note > p {
    @apply my-1 !important;
    @appy p-2;
    @apply pl-4;
}
.note-title {
    @apply font-bold;
}

/* INFO note block */
.note-info {
    @apply bg-blue-50;
    @apply border-blue-500;
    @apply text-blue-900;
}
.note-info .note-title {
    @apply text-blue-900;
}
.note-info .note-desc {
    @apply text-blue-900;
}

/* WARNING note block */
.note-warning {
    @apply bg-orange-50;
    @apply border-orange-500;
    @apply text-orange-700;
}
.note-warning .note-title {
    @apply text-orange-900;
}
.note-warning .note-desc {
    @apply text-orange-700;
}


/*** Pager styles ***/
.pager a {
    @apply text-gray-400 !important;
}
.pager a:hover {
    @apply text-gray-600 !important;
}


/*** Miscellaneous styles ***/
.tag {
    margin-left: auto;
    margin-right: 0;
}

@font-face {
    font-family: 'Horizon Rounded';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    /*font-named-instance: 'Regular';*/
    src: url('../fonts/HorizonRounded.otf') format('opentype');
}

.horizon {
    font-family: 'Horizon Rounded';
}